*{
    background-color: coral;
    color: white;
}

#nav{
    border: 1px solid black ;
    height: 5vh;
}

.grid{
    border: 1px solid black ;
    display: grid;
    grid-template-columns: 200px 200px ;
    grid-template-rows: 30px;
}

.box{
    margin: 5px;
    border: 1px solid black ;
    height: 20px;
}